@font-face {
  font-family: "iconfont"; /* Project id 3355536 */
  src: url('iconfont.woff2?t=1650803274759') format('woff2'),
       url('iconfont.woff?t=1650803274759') format('woff'),
       url('iconfont.ttf?t=1650803274759') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang-copy:before {
  content: "\e86f";
}

.icon-fenxiang:before {
  content: "\e86e";
}

